
#InfoControl{
	text-align: center;
}

#Volume{
	text-align: center;
}


#controlpanel{
	background-size: 100% 100% !important;
}

#transparentBackground{
	padding: 4.5em 0em;
	background-color: rgba(255,255,255,0.1);
}

#thumbnail{
	max-width: 80%;

	display: block;
	margin: 0 auto;
}


#buttonBar{
	
	i{
		transition: all 0.3s ease-in-out;
	}
	i:before{
		font-size: 3em;
	}
	i:hover{
		color: $highlightColor;
	}
}



#currentPos{
	transition: color 0.4s ease-in-out;
}

#timeDisplay{
	font-family: 'DroidSansMono';
}

.change{
	color: #F2784B;
}

