
#controlpanel{
	margin: 3em 0em;
}

#thumbnail{
	width: 40%;

	margin-right: auto;
	margin-left: auto;
	
	display: block;
}


#infocontrol{

	text-align: center;

}

#currentPos{
	transition: color 0.4s ease-in-out;
}

.change{
	color: #F2784B;
}