
$enqueueBgColor: #4B4B4C;
$inputBackgroundColor: #F4F4F4;

#enqueue{

	background-color: $enqueueBgColor;

	div.container{
		margin: 0.5em auto;

		display: flex;
	}

	// ##########################
	// # Inputfield for the URL #
	// ##########################
	input[type=text]{
		flex: 1;

		font-size: 0.8em;

		padding: 0.8em 1em;
		margin-right: 0;

		// reset defaults
		appearance: none;
		box-shadow: none;

		border: none;
		background-color: $inputBackgroundColor;

		transition: all 0.3s ease-in-out;
	}
	input[type=text]:focus{
		outline: none;
		border: none;
	}

	button{
		padding: 0.8em 1.5em;
		margin-left: 0;

		font-size: 0.8em;

		border: none;

		background-color: $highlightColor;
		color: $inputBackgroundColor;

		transition: all 0.3s ease-in-out;

		cursor: pointer;
	}
	button:hover{
		background-color: $highlightColorShade;
	}
	button:focus{
		outline: none;
	}

}

#enqueue.sticky{
	position: fixed;
	top: 0;
	left: 0;

	z-index: 10;
}