
$enqueueBgColor: #4B4B4C;
$inputBackgroundColor: #F4F4F4;

#enqueue{

	background-color: $enqueueBgColor;


	form#enqueueForm{
		width: 65%;

		margin: 0.5em auto;
		display: flex;
	}

	// ##########################
	// # Inputfield for the URL #
	// ##########################
	input[type=text]{
		flex: 1;

		font-size: 0.8em;

		padding: 0.6em 1em;
		margin: 0;

		// reset defaults
		appearance: none;
		box-shadow: none;

		border: none;
		background-color: $inputBackgroundColor;

		transition: all 0.3s ease-in-out;
	}
	input[type=text]:focus{
		outline: none;
		border: none;
	}
	input[type=text]:disabled{
		background-color: #C4C4C4;
	}

	button#enqueueButton{

		padding: 0.6em 1.2em;
		margin: 0;

		font-size: 0.8em;

		background-color: $highlightColor;
		color: $inputBackgroundColor;

		transition: all 0.3s ease-in-out;

		cursor: pointer;
		border: none;

		display: flex;

	}
	button#enqueueButton:hover{
		background-color: $highlightColorShade;
	}
	button#enqueueButton:focus{
		outline: none;
	}

	div.spinnerContainer{
		@extend button#enqueueButton;

		// centers the spinner
		display: flex;
		align-items: center;
		justify-content: center;

		width: 1.8em;
		height: 1.8em;
	}

}

#enqueue.sticky{
	position: fixed;
	top: 0;
	left: 0;

	z-index: 10;
}
