// ########
// # body #
// ########

body{
	margin: 0;

	font-family: $standartFont;
	color: $textColor;
}

// # ##### #
// # Links #
// # ##### #

a{
	color: #000;
	text-decoration: none;

	transition: all 0.3s ease-in-out;
}
a:hover,
a:focus{
	text-decoration: underline;
}


// ########
// # Misc #
// ########

span.monospaced{
	font-family: 'DroidSansMono';
}

// checkboxes
input[type=checkbox] {
	display: none;
}
input[type=checkbox] + label {
	cursor: pointer;
}
input[type=checkbox] + label:before{
	font-family: 'MaterialDesignIcons';
	font-size: 1.3em;
	letter-spacing: 0.3em;
	transition: all 0.3s ease-in-out;
}

input[type=checkbox] + label:before {
	content: "\F12E";
	color: $grey;
}
input[type=checkbox] + label:hover:before {
	content: "\F12E";
	color: $greyShade;
}

input[type=checkbox]:checked + label:before {
	content: "\F132";
	color: $highlightColor;
}
input[type=checkbox]:checked + label:hover:before {
	color: $highlightColorShade;
}
