
$borderColor: #4B4B4C;

#playlist{

	.song{
		padding: 1.2em 0;

		border-bottom: 0.1em solid $borderColor;
	}
	.song:last-child{
		border: none;
	}

	i{
		transition: all 0.3s ease-in-out;
	}
	i.delete{
		cursor: pointer;
		font-size: 1.3em;
	}
	i:hover{
		color: $highlightColor;
	}

	.element{
		padding: 0 0.5em;
	}

	.duration,
	.position{
		font-family: 'DroidSansMono';
	}

	h3{
		text-align: center;
	}

}
