
$borderColor: #4B4B4C;

#playlist{

	font-size: 1.2em;

	.song{
		padding: 1.2em 0;
		border-bottom: 0.1em solid $borderColor;
	}
	.song:last-child{
		border: none;
	}

	i{
		transition: all 0.3s ease-in-out;
	}
	i.delete{
		cursor: pointer;
	}
	i.delete:before{
		font-size: 1.2em;
	}
	// mobile
	@media screen and (max-width: $medium-screen){
		i.delete:before{
			font-size: 1.5em;
		}
	}
	i:hover{
		color: $highlightColor;
	}

	.duration,
	.position{
		font-family: 'DroidSansMono';
	}

	h3{
		text-align: center;
	}

}
