
// Colors
$highlightColor: #1CB890;
$highlightColorShade: #78D4BC;

$backgroundColor: #fff;
$textColor: #292f33;

// Breakpoints
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;


// Typography
@font-face {
	font-family: 'Montserrat-Light';
	src: url('/fonts/Montserrat-Light.otf');
}
@font-face {
	font-family: 'DroidSansMono';
	src: url('/fonts/DroidSansMono.ttf');
}

$standartFont: 'Montserrat-Light';
$numberFont: 'DroidSansMono';

// Layout
@import "modules/layout";

// General
@import "modules/general";
@import "modules/modal";

// Modules
@import "modules/controlpanel";
@import "modules/enqueue";
@import "modules/playlist";
@import "modules/slider";
@import "modules/volume"
